*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tinos", serif;
}

body, html {
background-color: #000000;
margin: 0;
padding: 0;
font-size: 16px;
}

:root {
--black: #000000;
--white: #ffffff;
--gradient-top: linear-gradient(to top, var(--black) 0%, var(--white) 100%);
--gradient-right: linear-gradient(to right, #f7f7f7 0%, #ffa7a7 0%, #fe9797 21%, #f66868 52%, #ea3636 78%, #6b0000 100%, x);
--transition: all 0.3s ease;
}

.navbar {
background: #000000;
height: 5rem;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 1rem;
position: sticky;
top: 0;
z-index: 999;
}

.navbar__container {
display: flex;
justify-content: space-between;
align-items: center;
height: 3rem;
z-index: 1;
width: 100%;
max-width: 2100px;
margin: 1rem auto;
padding: 0 1rem;
}

#navbar__logo {
background-image: linear-gradient(to top,#6b6a6a 0%, #ffffff 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
text-decoration: none;
font-size: 3rem;
margin-right: auto;
position: absolute;
left: 30px;
}

#navbar__logo img { 
width: 3rem;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}

.navbar__menu {
display: flex;
align-items: center;
list-style: none;
text-align: center;
}

.navbar__item {
height: 80px;
}

.navbar__links {
color:#fff;
font-size: 1rem;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
padding: 0 2.5rem;
height: 100%;

}

.navbar__links:hover{
color: #c29cec;
transition: all 0.3s ease;
}

@media screen and (max-width: 1560px) {
  .navbar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 10px;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    transition: all 0.5s ease;
    top: 2%;
    height: auto;
    opacity: 0;
    z-index: -1;
    background: #131313;
    justify-content: center;

  }

  .navbar__menu.active {
    background: #131313;
    top: calc(0px + 100%); /* Move the menu down by the height of navbar */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: auto;
    font-size: 5rem;
    align-items: center;
  }

  #navbar__logo {
    align-items: baseline;
    translate: 0 10px;
  }

  #navbar__logo img {
    margin-left: 1rem;
    align-items: center;
    translate: 0 6px;
  }

  .navbar__toggle .bar {
    margin: auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    translate: 0 -7px;
    align-items: center;
    justify-content: center;
  }

  .navbar__item {
    width: 10%;
  }

  .navbar__links {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 0;
    right: 5%;
    transform: translate(5%, 20%)scale(60%);
  }



  .navbar__toggle.bar {
    display: block;
    cursor: pointer;
}

#mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

#mobile-menu .bar {
    width: 70px;
    height: 5px;
    background-image: linear-gradient(to top,#4b4b4b 0%, #ffffff 100%);
    margin: 8px ;
    transition: 0.5s; 
}
}

#mobile-menu.is-active .bar:nth-child(1) {
transform: translate(10px, 20px); rotate: 45deg;
}

#mobile-menu.is-active .bar:nth-child(2) {
opacity: 0; transform: translate(-8px) 
transition: 0.5s;
}

#mobile-menu.is-active .bar:nth-child(3) {
transform:  translate(10px, -20px); rotate: -45deg;
}

.logo-image {
width: 35%; 
transform: translate(-5px);
height: auto; 
}

/*hero section*/

.main__container {
display: grid;

grid-template-columns: 1fr 1fr;
align-items: center;
justify-self: center;
margin: 0 auto;
height: 90vh;
background-color: #000000;
z-index: 1;
width: 100%;
max-width: 2600px;
padding: 0 50px;

}
.main__container {
background-size: cover;
background-position: center;
background-repeat: no-repeat;
transform: translateY(-40px);
background-color: #000000;

}

.main__content video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 80%;
mix-blend-mode: lighten;
}

.main__content h1 {
font-size: 3rem;
background-color: floralwhite;
background-image: linear-gradient(to top, #4a4a4a 0%, #fff 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
}


.main__content h2 {
margin-top: 1rem;
font-size: 2rem;
background-color: rgb(255, 255, 255);
background-image: linear-gradient(to top, #6b0000 0%, #010101 100%);
background-size: 100%;
font-weight: 700px;
-webkit-text-fill-color: rgb(0, 0, 0);
-moz-text-fill-color: #710000;
}

.main__content p {
font-size: 1.5rem;
background-color: rgb(255, 255, 255);
background-image: linear-gradient(to top, #6c6b6b 0%, #fff 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
}

.main__content-h3-container {
float: right;
width: 60%;
position: relative;
transform: translateX(40%);
}


.main__content-h3 {
font-size: 1rem;
background-color: rgb(255, 255, 255);
background-image: linear-gradient(to top, #6c6b6b 0%, #fff 100%);
background-size: 50%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;

}

.main__btn {
font-size: 1rem;
background-image: linear-gradient(to top, #222222 0%, #fff 100%);
padding: 10px 20px;
border: none;
border-radius: 2px;
color: #752323;
margin-top: 2rem;
cursor: pointer;
position: relative;
transition: all 0.35s;
outline: none;
}

.main__btn a {
position: relative;
z-index: 2;
color: #000000;
text-decoration: none;
}

.main__btn:after {
position: absolute;
content: '';
top: 0;
left: 0;
width: 0;
height: 100%;
background: linear-gradient(to top,rgb(0, 0, 0) 0%, #484848 100% );
color: #ffffff;
transition: all 0.3s ease; 
}

.main__btn:hover,
.main__btn:hover a {
color: #fff;
background-image: none;
}

.main__btn:hover:after {
width: 100%;
}

.main__img--container {
text-align: center;
}

#main_img {
height: 100%;
width: 100%;
}

/*mobileresponsive*/
@media screen and (max-width: 768px) {
.main__container {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-self: center;
  width: 100%;
  margin: 0 auto;
  height: 90vh;
}
.main__container {
  height: 100%;
  width: 100%;

}

.main__content {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;

}
.main__content video {
  width: 100%;
  height: auto;
}

.main__content h1 {
  font-size: 2.5rem;
  margin-top: 2rem; 
}

.main__content h2 {
  font-size: 2rem;
}
.main__content p{
  margin-top: 1rem;
  font-size: 1.5rem;
}
}

@media screen and (max-width: 480px) {
.main__content h1 {
  font-size: 2rem;
  margin-top: 3rem; 
}

.main__content h2 {
  font-size: 1rem;
}
.main__content p{
  margin-top: 2rem;
  font-size: 1.5rem;
}

.main__btn {
  padding: 12px 36px;
  margin: 2.5rem 0;
}
}

/*services*/

.services {
background: rgb(0, 0, 0);
display: flex;
flex-direction: column;
align-items: center;
}

.services h1 {
font-size: 2rem;
text-align: center;
margin: 2rem;
font-size: 3rem;
background: linear-gradient(to top,rgb(111, 111, 111) 0%, #ffffff 100% );
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
}

.services p {
  font-size: 1rem;
 background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5rem;
  width: 60%;
  
}
.services h2 {
  font-size: 1.5rem;
  background: linear-gradient(to top,rgb(111, 111, 111) 0%, #ffffff 100% );
  margin: 2rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 960px) {
.services h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  margin-top: 2rem;
}
 .services h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
  margin: 1rem;
}
.services__video video {
  width: 75%;
 }
 .services__container h2 {
  width: 75%;
  justify-content: center;
  margin: 0;
  font-size: 0.8rem;
 }
 .services__music {
  margin: 0;
width: 70%;
justify-content: center;
background: rgb(0, 0, 0);
}
.services__music h1 {
  font-size: 1.5rem;
}
.services__music h2 {
  font-size: 0.8rem;
}
.services__music p {
  color: #fff;
  margin: 2rem;
  margin-bottom: 1rem;
}
input[type=image] {
}
input[type=image] a {

}
input[type=image] ::after {
}
input[type=image]hover,
.input[type=image] a {

}
.services__music img {
  width: 50%;
}
.services__music h3 {

}
}

@media screen and (max-width: 480px) {
.services h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-top: 5rem;
}
 .services h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.services__video video {
  width: 50%;
 }
}


/*fotter*/

.footer__container {
background-color: #000000;
padding: 1rem ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

#footer__logo {
color: #fff;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
}

.footer__links {
width: 100%;
max-width: 1000px;
display: flex;
justify-content: center;
}

.footer__link--wrapper {
display: flex;
}

.footer__link--items {
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 16px;
box-sizing: border-box;
}

.footer__link--items a {
color: #fff;
text-decoration: none;
margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
color: #e9e9e9;
transition: 0.3s ease-out;
}

/*social icons*/

social__icon--link {
color: #fff;
font-size: 24px;
}

.social__media {
max-width: 1000px;
width: 100%;
}

.logo-image {
  width: 15%;
}

.social__media--wrap {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
max-width: 1250px;
}

.social__icons {
display: flex;
justify-content: space-between;
align-items: center;
width: 240px;
}

.social__logo {
color: #fff;
justify-self: flex-start;
margin-left: 20px;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
display: flex;
align-items: center;
margin-bottom: 16px;
}

.website__right {
color: #fff;
}

@media  and (max-width: 820px) {
.footer__links {
  padding-top: 2rem;
}

#footer__logo {
  margin-bottom: 2rem;
}

.website__right {
  margin-bottom: 2rem;
}

.footer__link--wrapper {
  flex-direction: column;
}

.social__media--wrap {
  flex-direction: column;
}
}

@media screen and (max'width: 480px) {
.footer__link--items {
  margin: 0;
  padding: 10px;
  width: 100%
;
}

}
